<div class="toolbar" role="banner">
  <div class="row mt-3">
    <div class="col-md-10"></div>
    <div class="col-md-2">
      <form [formGroup]="brewerieForm">
        <input type="text" #search formControlName="search" (keyup)="filterBrewerie($event)" placeholder="Search Brewerie...">
      </form>
    </div>
  </div>
</div>

<div class="content" role="main">
  <div class="row m-1">
    <ng-container *ngFor="let item of brewerieList">
      <div class="col-md-3 mb-3">
        <div class="brewerie_card p-2">
          <div class="text-center pt-2 pb-3">
            <img class="brewerie_img " src="assets/images/brewpub.jpg" alt="">
          </div>
          <div class="p-1">
            <div class="row p-0">
              <div style="width: 10%;">
                <img src="assets/icons/person.png" alt="">
              </div>
              <div class="person_name">{{item?.name}}</div>
            </div>
            <div class="row p-0 pt-1">
              <div style="width: 10%;" class="pt-1">
                <img src="assets/icons/call.png" alt="">
              </div>
              <div class="pt-1" style="width: 90%;
              font-family: inherit;">{{item?.phone}}
              </div>
            </div>
            <div class="row p-0 pt-1">
              <div style="width: 10%;" class="pt-1">
                <img src="assets/icons/city.png" alt="">
              </div>
              <div class="pt-1" style="width: 90%;
              font-family: inherit;">{{item?.city}},{{item?.postal_code}}
              </div>
            </div>
            <div class="row p-0 pt-1">
              <div style="width: 10%;" class="pt-1">
                <img src="assets/icons/location.png" alt="">
              </div>
              <div class="pt-1" style="width: 90%;
              font-family: inherit;">{{item?.street}}
              </div>
            </div>
            <!-- <div class="row p-0 pt-1">
              <div class="col-md-6 p-0">
                <div class="custom-row">
                  <div style="width: 40%;" class="text-center">
                    <img src="assets/icons/city.png" alt="">
                  </div>
                  <div style="width: 100%;">
                    {{item?.street}}
                  </div>
                </div>
              </div>
              <div class="col-md-6 p-0">
                <div class="custom-row">
                  <div style="width: 16%;">
                    <img src="assets/icons/location.png" alt="">
                  </div>
                  <div >
                    {{item?.street}}
                  </div>
                </div>
              </div>
            </div> -->
          </div>
          <div class="text-center pt-3">
            <button class="learn_more">
              <a href="{{item?.website_url}}" target="_blank">Learn More</a>
            </button>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
<router-outlet></router-outlet>